<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Social Wings</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-if='!currUser' menu-close ng-click="login()">
          <i class='ion-log-in'></i>
          Login
        </ion-item>
        <ion-item ng-if='!currUser' menu-close ng-click="signup()">
          <i class='ion-person-add'></i>
          Signup
        </ion-item>
        <ion-item menu-close ui-sref='app.events'>
          <i class='ion-search'></i>
          Search Events
        </ion-item>
        <ion-item ng-if='currUser' menu-close ui-sref='app.myEvents'>
          <i class='ion-calendar'></i>
          My Events
        </ion-item>
        <ion-item ng-if='currUser' menu-close ng-click="openPostModal()">
          <i class='ion-ios-compose-outline'></i>
          Post Events
        </ion-item>
        <ion-item ng-if='currUser' menu-close ui-sref='app.wishlist'>
          <i class='ion-heart'></i>
          My Wishlist
        </ion-item>
        <ion-item ng-if='currUser' menu-close ui-sref='app.profile'>
          <i class='ion-person'></i>
          My Profile
        </ion-item>
        <ion-item ng-if='currUser' menu-close ui-sref='app.settings'>
          <i class='ion-ios-gear'></i>
          Settings
        </ion-item>
        <ion-item ng-if='currUser' menu-close ng-click="logout()">
          <i class='ion-log-out'></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
