<ion-modal-view>
	<ion-header-bar>
    <div class="buttons">
        <h1 class="title">New Event</h1>
        <button class="button button-icon ion-ios-close-empty" ng-click="closeModal()"></button>
    </div>
	</ion-header-bar>
	<ion-content>
		<form name="newEventForm" ng-model="newEvent" ng-submit="postEvent(newEvent)">
	    	<label class="item item-input">
	    		<span class="input-label">Title</span>
	    		<input type="text" name="title" ng-model="newEvent.title" required>
	    	</label>

	    	<label class="item item-input">
	    		<span class="input-label">Description</span>
	    		<input type="text" name="description" ng-model="newEvent.description" required>
	    	</label>
	    	
	    	<button class="button button-block button-positive" type="submit">Submit</button>
	    </form>
	</ion-content>
</ion-modal-view>
