<ion-view view-title="My Profile">
  <ion-content padding="true" class="has-header" ng-controller="UserCtrl">
  	<ion-item class="item-divider">Profile Picture</ion-item>
  	<ion-item><img width='100%' src='{{ currUser.profilePic }}'></ion-item>
  	<ion-item class="item-divider">Username</ion-item>
  	<ion-item>{{ currUser.username }}</ion-item>
    <ion-item class="item-divider">Email</ion-item>
  	<ion-item>{{ currUser.email }}</ion-item>
  	<ion-item class="item-divider">About Me</ion-item>
  	<ion-item class="item item-text-wrap">{{ currUser.about }}</ion-item>
  </ion-content>
</ion-view>
