<ion-view title="Settings" id="page4" class=" ">
   <ion-content padding="true" class="has-header">
       <form id="settingsTabDefaultPage-form2" class="list ">
           <ion-item class="item-divider " id="settingsTabDefaultPage-list-item-divider2">Event Search Settings</ion-item>
           <ion-toggle toggle-class="toggle-balanced" ng-checked="true">Exclude my events in search results</ion-toggle>
           <ion-toggle toggle-class="toggle-balanced">Turn off location finder</ion-toggle>
           <ion-item id="settingsTabDefaultPage-list-item1">Search Radius
               <span class="item-note">5 miles</span>
           </ion-item>
           <ion-item class="range range-positive">
               <input type="range" value="20" min="0" max="100" ng-model='radius'>
           </ion-item>
           <ion-item class="item-divider " id="settingsTabDefaultPage-list-item-divider1">Notifications</ion-item>
           <ion-toggle toggle-class="toggle-balanced" ng-checked="true">Receive push notifications</ion-toggle>
           <button id="settingsTabDefaultPage-button2" class=" button button-assertive button-block">Delete Account</button>
       </form>
   </ion-content>
</ion-view>