<ion-view view-title="Your Wishlist">	
	<ion-content padding="true" class="has-header">
    	<button ng-click="showDelete = !showDelete" class="button button-block button-assertive" ng-show='wishlist.length > 0'>Click to Remove Events From Wishlist</button>
    	<ion-list show-delete="showDelete">
		    <ion-item collection-repeat="event in wishlist | orderBy: event.createdAt : true" href="#/app/events/{{event.id}}">
		    	<ion-delete-button ng-click="deleteItem(event)" class="ion-minus-circled"></ion-delete-button>
		    	<ion-item class="item-divider">{{ event.title }}</ion-item>
	    		<img ng-src="{{ event.imageUrl || event.getDefaultImage }}">
		    </ion-item>
		    <div ng-if='wishlist.length === 0'>Your wishlist is empty =[</div>
		    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  		</ion-list>
  	</ion-content>
</ion-view>